<h1>{{name}} Profile</h1>
<div>
<h3>Create a new post</h3>
<form class="new-post-form">
    <div class="form-container">
        <label for="post-subject">Subject: </label>
        <input type="text" class="form-input" id="post-name" name="post-name">
    </div>
    <div class="form-container">
        <label for="post-comment">Comment</label>
        <textarea class="post-comment" name="form-input" id="post-comment">
        </textarea>
    </div>
    <div class="form-container">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>
</div>
{{#if posts.lenght}}
<div class="post-list">
    <h3>All {{user.username}} contributions</h3>
    {{#each posts as |post|}}
    <div>
        <h4><a href="/post/{{post.id}}">{{post.subject}}</a></h4>
    </div>
    <div>
        <button class="btn" data-id="{{post.id}}">Delete</button>
    </div>
    {{/each}}
</div>
{{/if}}

<script src="/public/js/profile.js"></script>